# Ignore JetBrains Rider folders
.idea/
.DS_Store
cucuota/.DS_Store


#Ignore appsettings
#cucuota/appsettings.json

# Ignore build output
cucuota/bin/
cucuota/obj/
ChangeCantQuotaTest/obj/
ChangeCantQuotaTest/bin/

# Ignore user-specific files
.vscode/
*.suo
*.user
*.suo
*.user
*.suo
*.user
*.suo
*.user
*.suo
*.user
*.suo
*.user

# Ignore build and publish output
/publish/
/deploy/
/logs/
/package-lock.json
# Ignore database
cucuota/database.db
